[Unit]
Description=givemesomegood.news admin (staging)
After=network.target postgresql.service
Requires=postgresql.service

[Service]
User=givemesomegoodnews
WorkingDirectory=/srv/givemesomegoodnews/app-staging
Environment=DATABASE_URL=postgresql:///givemesomegoodnews_staging
Environment=ADMIN_EMAIL=ford@ftrain.com
ExecStart=/srv/givemesomegoodnews/venv-staging/bin/python3 -m givemesomegoodnews.admin 8084
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
